<ion-content class="login-content">
  <div class="login-container card-background">
    <h2>Bugambiliamx</h2>
    <p>Bienvenido a nuestra página !!</p>
    
    <!-- Imagen redonda -->
    <img src="assets/Imagenes/logo.jpg" class="rounded-image" />
    
    <form (ngSubmit)="onLogin()" class="login-form">
      <ion-item class="input-item">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario" name="usuario" required></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password" name="contrasena" required></ion-input>
      </ion-item>

      <div class="button-group">
        <ion-button type="submit" color="primary" shape="round" class="login-button">
          Iniciar sesión
        </ion-button>
        <ion-button color="secondary" shape="round" class="register-button" (click)="goToRegister()">
          Crear cuenta nueva
        </ion-button>
      </div>
    </form>

    <p class="login-footer">¿Olvidaste tu contraseña? <a href="#">Recupérala aquí</a></p>
  </div>
</ion-content>
