.login-content {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.login-container {
  background: linear-gradient(135deg, #ffb6c1, #ff8da1); /* Degradado rosita */
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.input-item {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-footer {
  margin-top: 20px;
  color: #fff;
}

.login-footer a {
  color: #fff;
  text-decoration: underline;
}

.register-button {
  width: 100%;
}
