.login-card {
    margin: 16px; /* Espaciado alrededor de la tarjeta */
    padding: 24px; /* Aumentar el espaciado interno para más aire */
    border-radius: 15px; /* Bordes redondeados más pronunciados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más suave y grande */
    background: linear-gradient(135deg, #ffffff, #e91e63); /* Fondo degradado de blanco a bugambilia */
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.profile-image {
    width: 120px; /* Tamaño de imagen más grande */
    height: 120px; /* Tamaño de imagen más grande */
    border-radius: 50%; /* Imagen redonda */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    border: 4px solid #e91e63; /* Borde alrededor de la imagen en bugambilia */
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; /* Aumenta el tamaño de la fuente */
    color: #e91e63; /* Color del texto en bugambilia */
}

.card-subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 16px; /* Añadir margen inferior */
}

ion-button {
    margin: 8px 0; /* Espaciado entre los botones */
    --background: #e91e63; /* Color de fondo bugambilia para los botones */
    --color: white; /* Color del texto del botón */
    --border-radius: 5px; /* Bordes redondeados de los botones */
}

ion-button[color="danger"] {
    --background: #ff3d00; /* Color de fondo para eliminar cuenta */
}
