<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Tarjeta de inicio de sesión -->
  <ion-card class="login-card">
    <div class="profile-image-container">
      <img src="assets/Imagenes/logo.jpg" alt="Profile" class="profile-image" />
    </div>

    <ion-card-header>
      <ion-card-title class="card-title">Bienvenido</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Inicia sesión para continuar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" (click)="checkFields(loginForm)">Iniciar Sesión</ion-button>
        <ion-button expand="full" (click)="createPassword()">Crear Contraseña</ion-button>
        <ion-button expand="full" (click)="resetPassword()">Restablecer Contraseña</ion-button>
        <ion-button expand="full" color="danger" (click)="deleteAccount()">Eliminar Cuenta</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
